<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Project" type="com.epam.issuetracker.domain.project.Project"/>
        <typeAlias alias="Comment" type="com.epam.issuetracker.domain.comment.Comment"/>
        <typeAlias alias="Issue" type="com.epam.issuetracker.domain.issue.Issue"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql:issuetracker"/>
                <property name="username" value="postgres"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/epam/issuetracker/repository/mapper/project/projectMapper.xml"/>
        <mapper resource="com/epam/issuetracker/repository/mapper/issue/issueMapper.xml"/>
        <mapper resource="com/epam/issuetracker/repository/mapper/comment/commentMapper.xml"/>
    </mappers>
</configuration>